@if(isModelLoading()) { Loading } @else if(model() !== null) {
<!-- Model successfully loaded, display wishlist items -->
<div class="page-layout">
    <section class="header-area">Header area</section>
    <section class="Main-area">
        <!-- Wishlist name -->
        <div>
            <h1>{{ model()?.name }}</h1>
            <h2>Owner: {{ model()?.ownerFullName }}</h2>
        </div>

        <!-- Actions -->
        <div>
            <span>Filter | Add item | Etc</span>
        </div>

        <!-- Wishlist items -->
        <app-wishlist-items
            [loading]="areItemsLoading()"
            [items]="items()"
            [error]="wishlistItemsLoadingError()"
        ></app-wishlist-items>
    </section>
</div>
} @else {
<!-- Failed to load model, display an error message to user -->
<div class="alert alert-danger" role="alert">Failed to load wishlist</div>
}
