<div class="page-layout">
    <section class="header-area">Header area</section>
    <section class="Main-area">
        <!-- Wishlist name -->
        <div><h1>List name</h1></div>

        <!-- Actions -->
        <div>
            <span>Filter | Add item | Etc</span>
        </div>

        <!-- Wishlist items -->
        <div class="list-group">
            <button class="list-group-item list-group-item-action">
                <div class="hstack gap-3">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Something I really really want</div>
                        Proposed by: John Doe
                    </div>
                    <div class="p-2 ms-auto"><span class="badge text-bg-danger">Taken</span></div>
                    <div class="p-2">01/01/2025</div>
                </div>
            </button>

            <button class="list-group-item list-group-item-action">
                <div class="hstack gap-3">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Something I really really want</div>
                        Proposed by: John Doe
                    </div>
                    <div class="p-2 ms-auto"><span class="badge text-bg-warning">Looking for split</span></div>
                    <div class="p-2">01/01/2025</div>
                </div>
            </button>
        </div>
    </section>
</div>
