@if(loading()) { loading } @else if(!error()) {
<div class="list-group">
    @for(item of items(); track item.id) {
    <button class="list-group-item list-group-item-action" (click)="onItemClicked(item.id)">
        <div class="hstack gap-3">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ item.name }}</div>
            </div>
            <div class="p-2 ms-auto">
                <span class="badge text-bg-danger">{{ item.status }}</span>
            </div>
            <div class="p-2">{{ item.createdAt }}</div>
        </div>
    </button>
    }
</div>
} @else { error }
