<div class="navbar-container">
    <div class="mb-3">
        <input class="form-control" type="text" placeholder="Search" aria-label="default input example" />
    </div>

    <!-- Group 1: Recent -->
    <div class="list-group mb-2">
        <a href="#" class="list-group-item list-group-item-action"> <i class="bi bi-clock-history me-2"></i>Recent </a>
    </div>

    <!-- Group 2: Shared -->
    <div class="list-group mb-2">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-share me-2"></i>Shared </a>
    </div>

    <!-- Group 3: Folders -->
    <h2 class="mb-3">Folders</h2>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-folder me-2"></i>My Wishlists</a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-folder me-2"></i>Christmas 2024 - Gifts
        </a>
    </div>
</div>
